{% extends "base.html.twig" %}

{% block title %} publication d'un nouveau news - site bidon{% endblock %}

{% block body %}    
<h2>Formulaire d'insertion d'un news</h2>
{% include "admin/admin/_newsForm.html.twig" with {button : 'Enregistrer'} %}
{% endblock %}