<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <link rel="icon" type="image/png" href="/logo.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css"/>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div id="wrap">
    		<header>
    			<h1><a href="/">Un site Bidon!</a></h1>
    			<p>Comment ça «il n'y a presque rien» ?</p>
    		</header>
    		
    		<nav id="menu">
    			<ul>
                    <li><a href="/" class="active">News</a></li>
    				<li><a href="/admin/" class="">Admin</a></li>
    				<li><a href="/admin/news-insert.html" class="" >Ajouter une news</a></li>
    				<li><a href="/admin/deconnect.html">Déconnexion</a></li>
                </ul>
            </nav>
            <div id="content-wrap">
    			<section id="main">
                     {% block body %}{% endblock %}
    			</section>
    		</div>
    		<footer><p style="text-align: right;font-style: italic;margin-right: 15px;"><small>Par Ir Esaie MUHASA</small></p></footer>
        </div>
    </body>
</html>
